button.fileinput-upload,
.file-upload-indicator{
    display: none !important;
}

.file-actions button,
.kv-zoom-actions button{
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    line-height: normal !important;
    height: auto !important;
}

.file-actions{
    display: flex;
    justify-content: center;
}

.file-caption.icon-visible .file-caption-name{
    padding-left: 22px !important;
}

.file-actions button i,
.kv-zoom-actions button i{
    font-size: 2.8rem;
}

.file-zoom-content{
    height: auto !important;
}

.kv-zoom-actions button:not(:last-of-type),
.file-zoom-dialog .kv-zoom-title{
    display: none;
}

.file-preview .fileinput-remove {
    top: 7px !important;
    right: 5px !important;
}

section.page-content-wrap button.close{
    padding: 0px;
    position: relative;
    margin: 0;
    left: 8px;
    line-height: 0.2 !important;
}

section.page-content-wrap button.close span{
    font-size: 2.2em;
    z-index: 16;
    color: #000;
}

.kv-zoom-actions button:last-of-type{
    position: relative;
    top: 8px;
}

.krajee-default.file-preview-frame{
    padding-bottom: 15px !important;
}

.krajee-default.file-preview-frame .kv-file-content{
    height: auto !important;
}

.krajee-default.file-preview-frame .kv-file-content img{
    max-height: 160px;
}

.krajee-default .file-caption-info, .krajee-default .file-size-info{
    height: auto !important;
}

.krajee-default .file-footer-caption{
    margin-bottom: 0px !important;
}

.krajee-default .file-actions{
    margin-top: 10px !important;
}

.kv-file-zoom i{
    font-size: 1.5rem !important;
    background-color: #fff !important;
    border: none !important;
    color: #686868 !important;
}

.kv-file-zoom i:hover{
    background-color: #fff !important;
    color: #3155a7 !important;
}

.kv-file-zoom:hover{
    background-color: #fff !important;
}

.kv-zoom-actions{
    position: relative !important;
    top: -9px !important;
}

.kv-file-remove{
    display: none !important;
}
